.header{
 background-color: black;
}
.nav.navbar-nav.navbar-right{
    margin-top:30px;
}
.navbar ul li{
    display: inline-block;
    padding: 5px;
}
.dropdown-toggle img{
    float:left;
    width:5%;
}
.col-lg-3>img{
    max-width: 40%;
    margin: 30px;
}
.main{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./img/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 120px 50px;
    top: -22px;
    margin-bottom: -23px;
}
.img-block img{
    padding: 10px;
    margin: 0 40px;
    opacity: 0.7;
}
.img-block img:nth-child(1){
    width: 230px;
}
.img-block img:nth-child(2){
    width: 230px;
}
.img-block img:last-child{
    max-width: 15%;
}
.price-block{
    display: inline-grid;   
    background-color: rgba(52, 45, 35, 0.582);
    border-radius:10px;
    margin-top: 50px;
    
}
.price-block button{
    background-color: red;
    border-radius: 20px;
    color: white;
    border: 0;
    margin-top: 10px;
    font-size:18px;
    padding: 15px 45px;
    margin:20px 20px 20px 20px;
}
.price-block button:first-child{
    margin-bottom:10px;
}
.price-block button:last-child{
    margin-top:10px;
}
.btn-video{
    background-color: rgba(52, 45, 35, 0.582);
    text-align: center;
    margin-left:50px;
}
.container{
    color:white;
}
.col-lg-12{
text-align: center;
}
.where{
    background-color: #e89535;
    font-size: 26px;
    margin-bottom: 30px;
    padding: 10px 20px;
}
.where-w{
    background-color: #e89535;
    font-size: 26px;
    margin-bottom: 30px;
    padding: 10px 20px;
}
.info{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 0;
    margin: 10px 0
}
.sel-set{
    color: #000;
    border-radius: 0.25em;
    cursor: pointer;
    width:50%;
    position: relative;
}
select{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0.5em;
    color: #000;
    cursor: pointer;
    border-radius: 10px;
}
.country{
    margin-left: 20px;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px; 
    margin-right: 0px; 
    margin-left: 0px;
    background-color:#333330;
}
.sel-set:after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #e89535;
    pointer-events: none;
    color: #1a1a1a;
    line-height: 2;
    border-radius: 0px 5px 5px 0px;
}
.date-block input{
    background-color: #333330;
    color: #e89535;
    border: none;
    cursor: pointer;
}
.date-block img{
    max-width: 45px;
    margin-left: 40px;
    padding: 5px;
}
label{
    margin-left: 20px;
}
#third{
    background-color: #666666;
    color: #fff;
    padding: 20px 0;
}
.sel-set-third{
    color: #000;
    border-radius: 0.25em;
    cursor: pointer;
    margin-left: 40px;  
    width:100%;
    height:20px;
}
.info-third{
    display: flex;
    padding: 10px 20px 10px 0;
    margin: 10px 0;
}
.sel-set-number{
    max-width: 150px;
    color: #000;
    margin-right: 15px;
    cursor: pointer;
}
.select-wig{
    display: table;
    clear:both;
}
.wig-left{
    float:left;
}
.wig-right{
    float:right;
}
.btn-upl>label>input{
    display: inline;
    opacity: 0;
}
#four{
    background-color: #333330;
}
.four .button-block button{
    background-color: #e89535;
    padding: 15px 45px;
    border-radius: 30px;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
    max-width: 230px;
    border: 0;
    float:right;
}
.button-block{
    margin-top: 30px !important;
    display: table;
    clear:both;
    margin: auto;
}
.button-left{
    float:left;
    margin-right:20px;
}
.button-right{
    float:right;
    margin-left:20px;
}
.button-left button{
    background-color: #e89535;
    padding: 15px 45px;
    border-radius: 30px;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
    max-width: 230px;
    border: 0;
}
.button-right button{
    background-color: #e89535;
    padding: 15px 45px;
    border-radius: 30px;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
    max-width: 230px;
    border: 0;
}
.content-container{
    background-color: #333330;
    width: 70%;
}
#content-container-4{
    background-color: #333330;
}
.row-list{
    background-color: #333330;
    margin-top: 30px;
}
.list{
    max-width: 100%;
    padding: 20px;
    text-align: center;
    border: 2px solid transparent;
    background-color: #666666;
    border-radius: 5px;
}
.list-image{
    width: 160px;
    height: 130px;
    margin: 30px auto;
}
.list-image img{
    width:100%;
    height:100%;
}
.list-name{
    width: 80%; 
    margin: auto;
}
.text-cart{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    background-color: #666666;
    height: 450px;
    margin: 40px 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.map-block{
    max-width: 668px;
    width: 100%;
    height: 450px;
    margin: 40px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.map-block iframe{
    width: 100%;
}
.row .col-lg-5{
    padding-right: 0;
}
.row .col-lg-7{
    padding-left: 0;
}
.ukin{
    display: table;
    clear:both;
}
.ukin ul{
    list-style-type: none;
    padding-left: 8px !important;
}

.ukin ul li{
    float:left;
    margin-left: 10px;
    padding-left:3px;
}
.ukin ul li:after{
    content: ">"!important;
    font-size: 18px;
    vertical-align: -2px;
}   
a{
    color:white !important;
}
.set-set{
    color: #000;
    border-radius: 0.25em;
    cursor: pointer;
    width:50%;
    position: relative;
}
#six{
    background-color: #666666;
}
#seven{
    background-color: #333330;
}
.block-inf{
    background-color: #666666;
    border-radius: 10px;
    margin-top: 20px;
}
.row-inf{
    margin-top: 20px;
}
.block-inf>p{
    padding-left: 10px;
}
.checkbox-container{
    padding-left: 35px;
}
.check{
    margin-left:0;
}
.dop{
    display: inline-table;
    clear:both;
}
.dop-left{
    float:left;
}
.dop-right{
    float:right;
}
.dop-left  img{
    width:30%;
    float:right;
}
.dost{
    background-color: #666666;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.order-but button{
    background-color: #e89535;
    padding: 15px 45px;
    border-radius: 30px;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
    max-width: 230px;
    border: 0;
}
.order-but{
 text-align: center;
}
#eight{
    background-color: #666666;
    color: #fff;
    padding: 40px 0;
}
.smart-block{
  text-align: center;
}
.smart-block img{
    max-width: 150px;
    height: 100px;
}
.smart-block-right .cent-car img{
    max-width: 150px;
    height: 100px;
}
.smart-block-left {
    text-align: end;
}
.smart-block-left .cent-car img{
    max-width: 150px;
    height: 100px;
}
#nine{
    background-color: #333330;
    color: #fff;
}
.contact-cont{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 70px 0;
}
.contact-cont a  img{
    width:70px;
}
.frame iframe{
    width:100%;
}
.footer{
    background-color: #1a1a1a;
    color: #fff;
}
.block-foot{
    margin: 0px 50px;
    padding: 20px 40px;
}
.navbar-default{
    border-color:rgb(64, 63, 69);
}
.navbar{
    margin:0;
}
.logo-img img{
    max-width: 150px;
    padding-top: 15px;
}
.logo-img{
    margin-left: 40px;
    margin-top: 30px;
}
.navbar-right{
    font-size: 10pt;
    color: #fff!important;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 35px!important;
}
.navbar ul li{
    padding:30px;
    font-size:15px;
}
.navbar-nav li a{
    margin-bottom: 0;
}
.nav.navbar-nav.navbar-right{
    margin-top: 0;
    background-color: #333330;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: #333330 !important;
}
.dropdown-menu{
background-color: #333330;
}
.btn-default{
    color: #fff;
    background-color: #333330;
    border: 0;
    font-size: 20px;
    margin-top: 7px;
}
.row{
    margin-right: 0;
}
.main .col-lg-8 h1{
    font-size: 34pt;
    font-weight: 700;
    color: #fff;
    margin-top: 150px;
    max-width: 700px;
    margin: 0 50px;
}
.video-block{
    display: flex;
    border-radius: 15px;
    font-size: 20px;
    color: #fff;
}
.btn-video{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-video{
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px!important;
    padding: 15px 30px!important;
    outline: 0;
}
.video-block p{
    padding: 20px;
    margin: 0;
    padding-top: 60px;
}
.marg-right{
    margin-right: 25px;
}
.marg-left{
    margin-left: 25px;
}
.inf{
    padding: 10px 20px 10px 0;
    margin: 10px 0;
    display: flex;
}
.inf .sel-set{
    padding-left: 20px;
    width:30%;
}
.sel-set-min{
    margin-left: 20px;
    border-radius: 5px;
    border:0;
}
.weight{
    margin-bottom: 10px;
}
.btn-upl img{
    width:50px;
}
.list-name p{
    font-size: 26px;
    height: 85px
}
.list-price{
    font-size: 15px;
}
.list-price span{
    font-size: 22px;
    color: #e89535;
}
.text-cart button{
    max-width: 350px;
    width: 100%;
    border-radius: 5px;
    padding: 13px;
    color: #fff;
    background-color: #333330;
    outline: none;
    border: 2px solid transparent;
    margin: 10px 0;
}
.text-cart p{
    margin-top: 20px;
}