.mynav{
    background-color: black;
    border-color: black;
    border-radius: 0;
}
.logo{
    height:fit-content;
    padding:30px 20px 30px 60px;
    
}
.logo img{
    max-width: 150px;
}
.mydrop.open a{
  background-color: black;
}
.mydrop.open a:hover{
    background-color: black;
}
.mydrop{
    max-width: 330px!important;
}
.new-nav{   
    font-size: 12px;
}
.new-nav li{
    padding: 30px 20px;
}   
.new-nav  li:last-child{
    padding: 20px;
}
.mynav ul li a:hover{
    color: orangered !important;
}
.mynav .navbar-nav>.open>a, .mynav .navbar-nav>.open>a:focus, .mynav .navbar-nav>.open>a:hover{
    background-color: black;
}

.open>.dropdown-menu{
    background-color: black;
}
.mynav ul li a{
color:white !important;
}
.location-img{
    position: absolute;
    width: 25px;
    left: -15px;
    top: 15px;
}
#one{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./img/main.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding: 120px 50px;
    top:-41px;  
    margin-bottom: -41px;
}
#one h1 {
    font-size: 34pt;
    font-weight: 700;
    color: #fff;
    max-width: 700px;
    margin: 0 50px
}
.img-block img{
    padding: 10px;
    margin: 0 40px;
    opacity: 0.7;
}
.img-block img:nth-child(1){
    width: 230px;
}
.img-block img:nth-child(2){
    width: 230px;
}
.img-block img:last-child{
    max-width: 15%;
}
.price-block{
    display: inline-grid;   
    background-color: rgba(52, 45, 35, 0.582);
    border-radius:10px;
    margin-top: 50px;
    
}
.price-block button{
    background-color: red;
    border-radius: 20px;
    color: white;
    border: 0;
    margin-top: 10px;
    font-size:18px;
    padding: 15px 45px;
    margin:20px 20px 20px 20px;
}
.price-block button:first-child{
    margin-bottom:10px;
}
.price-block button:last-child{
    margin-top:10px;
}
.btn-video{
    background-color: rgba(52, 45, 35, 0.582);
    text-align: center;
    margin-left:50px;
}
.video-block{
    display: table;
    clear:both;
    border-radius: 15px;
    font-size: 20px;
    color: #fff;
}
.video-left{
    float:left;
}
.video-right{
    float:right;
    padding:50px 10px;
}
#two{
    background-color:  #333330;
}
.title-roz{
    color: #fff;
    text-align: center;
}
.where-w{
    background-color: #e89535;
    font-size: 26px;
    margin-bottom: 30px;
    padding: 10px 20px;
    color:white;
}
.country{
    color:white;
    float: left;
    margin-left: 20px;

}
.sel--set{
    position: relative;
    display: block;
    line-height: 1;
    background: #fff;
    color: #000;
    overflow: hidden;
    border-radius: 0.25em;
    max-width: 300px;
    height: 33px;
    width: 100%;
    outline: none;
    cursor: pointer;
}
#select{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0.5em;
    color: #000;
    cursor: pointer;
    border-radius: 10px;
}
.info{
    display: table;
    clear:both; 
    padding: 10px 20px 10px 0;
    margin: 10px 0;
    width: 80%;
}
.country{
    float:left;
}
.sel-set{
    float:right;
    padding-left: 50px;
    position: relative;
}
#select{
    position: relative;
    line-height: 1;
    background: #fff;
    color: #000;
    overflow: hidden;
    border-radius: 0.25em;
    max-width: 300px;
    height: 25px;
    width: 250px;
    outline: none;
    cursor: pointer;
}
.sel-set::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #e89535;
    pointer-events: none;
    color: #1a1a1a;
    line-height: 2;
    border-radius: 0px 4px 4px 0px;
}
.sel-set::after:focus{
    background: black;
    color:#fff;
}
.date-block input{
    background-color: #333330;
    color: #e89535;
    border: none;
    cursor: pointer;
}
.date-block img{
    max-width: 45px;
    margin-left: 40px;
    padding: 5px;
}
#three{
    background-color: #666666;
    color: #fff;
    padding: 20px 0;
}
.weight{
    padding: 10px 20px 10px 0;
    margin: 10px 0;
}
.weight .wight{
    margin-left: 20px;
    
}
.sel-set-min{
    margin-left: 30px;
    border-radius: 0.25em;
    border:0;
    padding:5px;
}
.btn-upl{
    margin-left: 20px;
}
.btn-upl>label>input{
    display: inline;
    opacity: 0;
}
.btn-upl img{
    width:50px;
}
#four{
    background-color: #333330;
}
.button-block button{
    background-color: #e89535;
    padding: 15px 45px;
    border-radius: 30px;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
    max-width: 230px;
    border: 0;
    float:right;
}
.button-block{
    margin-top: 30px !important;
    display: table;
    clear:both;
    margin: auto;
    color: #fff;
}
.button-left{
    float:left;
    margin-right:20px;
}
.button-right{
    float:right;
    margin-left:20px;
}
.button-left button{
    background-color: #e89535;
    padding: 15px 45px;
    border-radius: 30px;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
    max-width: 230px;
    border: 0;
}
.button-right button{
    background-color: #e89535;
    padding: 15px 45px;
    border-radius: 30px;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
    max-width: 230px;
    border: 0;
}
.row-list{
    background-color: #333330;
    margin-top: 30px;
    color:white;
}
.list{
    padding: 20px;
    text-align: center;
    border: 2px solid transparent;
    background-color: #666666;
    border-radius: 5px;
}
.list-image{
    width: 160px;
    height: 130px;
    margin: 30px auto;
}
.list-image img{
    width:100%;
    height:100%;
}
.list-name{
    margin: auto;
}
.list-price p span{
    font-size: 20px;
    color: #e89535; 
}
.list-name p{
    font-size: 26px;
    height: 85px;
}
.text-cart{
    padding: 30px 50px;
    background-color: #666666;
    height: 450px;
    margin: 40px 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.map-block{
    max-width: 668px;
    width: 100%;
    height: 450px;
    margin: 40px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.map-block iframe{
    width: 100%;
}
.text-cart button {
    width: 100%;
    border-radius: 5px;
    padding: 13px;
    color: #fff;
    background-color: #333330;
    outline: none;
    border: 2px solid transparent;
    margin: 10px 0;
}
.text-cart p{
    color: #fff;
    padding-top: 20px;
}
.text-cart a{
    color: #fff;
}
.ukin{
    display: table;
    clear:both;
}
.ukaz{
    list-style-type: none;
    padding-left: 8px !important;
}

.ukin ul li{
    float:left;
    margin-left: 10px;
    padding-left:3px;
}
.ukaz li:after{
    content: ">"!important;
    font-size: 18px;
    vertical-align: -2px;
    color: white;
}   
.ukaz a{
    color: #fff;
}
#five{
    background-color: #333330;
}
.set-set{
    color: #000;
    border-radius: 0.25em;
    cursor: pointer;
    width:15%;
    float: right;
}
.information{
    display: table;
    clear:both; 
    padding: 10px 20px 10px 0;
    margin: 10px 0;
}
.tablet .tablet-left{
  padding-right: 0px !important
}
.tablet .tablet-right{
    padding-left: 0px !important 
}
#six{
    background-color: #666666;
}
#seven{
    background-color: #333330;
    color: #fff; 
}
.block-inf{
    position: relative;
    max-width: 530px;
    width: 100%;
    min-height: 85px;
    background-color: #666666;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0;
}
.row-inf{
    margin-top: 20px;
}
.block-inf p{
    margin: 0;
    padding: 5px;
}
.block-inf span{
    font-size: 18px;
    color: #e89535;
}
.checkbox-container{
    padding-left: 35px;
}
.check{
    margin-left:0;
}
.dop{
    display: inline-table;
    clear:both;
}
.dop-left{
    float:left;
}
.dop-right{
    float:right;
}
.dop-left  img{
    width:30%;
    float:right;
}
.dost{
    background-color: #666666;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.order-but button{
    background-color: #e89535;
    padding: 15px 45px;
    border-radius: 30px;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
    max-width: 230px;
    border: 0;
}
.order-but{
 text-align: center;
}
#eight{
    background-color: #666666;
    color: #fff;
    padding: 40px 0;
}
.smart-block{
  text-align: center;
}
.smart-block img{
    max-width: 150px;
    height: 100px;
}
.smart-block-right .cent-car img{
    max-width: 150px;
    height: 100px;
}
.smart-block-left {
    text-align: end;
}
.smart-block-left .cent-car img{
    max-width: 150px;
    height: 100px;
}
.check{
    display: block;
    position: relative;
    user-select: none;
    margin-top: 20px;
}
.check input{
    margin: 4px 15px 0 0 !important;
}
.checkmark{
    position: absolute;
    top: 2px;
    left: 1px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 2px;
}

.check input:checked ~ .checkmark{
    background-color: #e89535;
}
.checkmark::after{
    content: "\2713";
    position: absolute;
    color: #fff;
    left: 4px;
    top: -3px;
}
#nine{
    background-color: #333330;
    color: #fff;
}
.contact-cont{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 70px 0;
}
.contact-cont a  img{
    width:70px;
}
.contact-cont a span{
    color: #fff;
}
.frame iframe{
    width:100%;
}
.cart-marg{
    padding:0;
}
.footer{
    background-color: #1a1a1a;
}
.block-foot {
    margin: 0px 50px;
    padding: 20px 40px;
    
}
.block-foot  a{
    color: #fff;
}