.body{
    background: #010000 !important;
}
.header{
    background: url(./images/header-bg3.png);
}
@font-face {
    font-family: "ArticaPro-light"; 
    src: url(./fonts/artica-pro/artica-pro/TTF/ArticaPro-Light.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "ArticaPro"; 
    src: url(./fonts/artica-pro/artica-pro/TTF/ArticaPro.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "ArticaPro-Bold"; 
    src: url(./fonts/artica-pro/artica-pro/TTF/ArticaPro-Bold.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "ArticaPro-Black"; 
    src: url(./fonts/artica-pro/artica-pro/TTF/ArticaPro-Black.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "ArticaPro-Medium"; 
    src: url(./fonts/artica-pro/artica-pro/TTF/ArticaPro-Medium.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "OpenSans-Medium"; 
    src: url(./fonts/opensans/OpenSans-Medium.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "OpenSans-Regular"; 
    src: url(./fonts/opensans/OpenSans-Regular.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "OpenSans-Bold"; 
    src: url(./fonts/opensans/OpenSans-Bold.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "OpenSans-Light"; 
    src: url(./fonts/opensans/OpenSans-Light.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
.header-button{
    margin-top: 30px;
    background:  #F0F0F0;
    border-color: #F0F0F0;
    color: black;
    position: relative;
    max-width:360px;
    display: flex;
    cursor: pointer;
    font-family: "OpenSans-Bold";
}
.mobile-media{
    display: none;
}
.header-button:hover p{
    color: #F0F0F0;
}
.header-button:hover svg *{ 
    fill: white;
}
.header-button:hover.header-button{
    background:  #DCAD55;
}
.header-button svg{
    margin:15px 20px;
}
.header-button p{
    padding-top: 10px;
    padding-left: 25px;
    color: #B29257;
    width:75%;
    text-align: center;
    line-height: 20.1px;
}
.header-list{
    font-family: "ArticaPro-Medium";
    font-size:18px;
}
.request{
    background:linear-gradient(97.98deg, #DCAD55 26.48%, #A78B58 89.9%);
    transform: skewY(-3.6deg);
    height: 414px;
    border-bottom:  8px solid white;
    border-top:8px solid white;
    position: relative;
}
.request .request-text h3{
    font-family: 'ArticaPro-Medium';
    line-height: 113.5%;
    font-size: 40px;
    color: #F0F0F0;
}
.request .request-text .black{
    color: #101010 ;
}
.request .container{
    transform: skewY(3.6deg);
}
.request-info{
    display: flex;
    flex-direction: column;
}
.request-info input{
    width: 300px;
    height: 55px;
    outline: none;
    padding-left: 20px;
} 
.request-info button{
    width: 300px;
    height: 55px;
    background: #101010;
    color: #F0F0F0;
    border: 3px solid white;
}
.request-info input:nth-child(1)::placeholder{
    background : url('./images/Vector.png') no-repeat  20px;
    padding-left: 60px;
}
.request-info input:nth-child(2)::placeholder{
    background : url('./images/Group.png') no-repeat  20px;
    padding-left: 60px;
}
.info{
    background: #101010;
}
.info-block{
    display: flex;
}
.info-text {
    position: relative;
    font-family: "OpenSans-Light";
}
.info-text h4{
    font-family: 'ArticaPro-Bold';
    font-size: 50px;
    line-height: 59px;
    text-transform: uppercase;
    color:#DCAD55;
    margin-bottom: 40px;
}
.info-text p{ 
    font-family: 'OpenSans-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}
.info-block .line{
    right: 0px;
}
.line{
    position: absolute;
    width: 500px;
    height: 5px;    
    top: 25px;
    right: 30px;
    background: #FFFFFF;
}
.request-line{
    position: absolute;
    width: 200px;
    height: 5px;    
    background: #FFFFFF;
    transform:  skewY(3.6deg);
    top: 100px;
}
.media{
    color: #F0F0F0;
    display: none;
    font-size: 14px;
}
.school-box{
    display: flex;
}
.mobile{
    display: none;
}
.media-school{
    display: none;
}
.school-text{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}
.school-img{
    display: flex;
}
.school img{
    position: relative;
    bottom:-65px;
}
.school-img img{
    width: 130%;
}
.school-text h4{
    padding-bottom: 20px;
}
.school h4{
  font-family: "ArticaPro";  
}
.school h2{
    font-family:"ArticaPro-Medium" ;
}
.school ul li{
    font-family: "ArticaPro";
    font-size: 1.75rem;
}
.school-text h1{
    padding-bottom: 20px;
    font-family: "ArticaPro-Medium"; 
}
.inputs-block{
    display: none;
}
.inputs-block .request-text{
    text-align: center;
}
.inputs-block .request-text h3{
    font-size:30px;
}
.adapt{
    display: none;
}
.adapt .line{
    position: absolute;
    width: 200px;
    height: 5px;    
    top: 25px;
    right: 0px;
    background: #FFFFFF;
}
.adapt .info-text p{
    margin-bottom: 20px;
    padding-top: 20px;
}
.things{
    background: #101010;
}
.things-box{
    color: #FFFFFF;
    position: relative;
}
.things-box h2{
    text-align: center;
    font-family: 'ArticaPro-Bold';
    line-height: 59px;
    text-transform: uppercase;
    color: #DCAD55;
    margin-bottom: 40px;
}
.things-box .left{
    left:0px;
    width: 300px;
}
.things-box .right{
    width:300px;
    right: 0px;
}
.thing{
    display:flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 115px;
    max-height: fit-content;
}
.thing a{
    display: flex;
    border: 3px solid #DCAD55;  
    margin:10px;
    align-items: center;
}
.thing  a p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.thing  a img{
    padding: 20px;
}
.things-adapt{
    display: none;
}
.things-adapt h2{
    text-align: left;
}
.things-adapt .line{
    width:150px;
    right:0px;
}
.courses{
    background: #010000;
    transform:skewY(1deg);
}
.courses h2{
    text-align: center;
    font-family: 'ArticaPro-Bold';
    line-height: 59px;
    text-transform: uppercase;
    color: #DCAD55;
    margin-bottom: 40px;
}
.main{
    background: #101010;
}
.courses-zag{
    transform:skewY(-1deg);  
    position: relative;
}
.courses-zag .left{
    left:0;
}
.courses-zag .right{
    right:0;
}
.zag-buttons{
    display: flex;
}
.zag-buttons button{
    text-align: center;
    background: #DCAD55;
    border: 4px solid #DCAD55;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.25);
    margin: 10px;
}
.zag-buttons button:first-child{
    box-shadow: 0 0 15px 5px rgb(220, 173, 85);
}
.zag-buttons button:nth-child(2){
    background: #101010;
    color: #FFFFFF;
}
.zag-buttons button:nth-child(2) img{
    padding-left:10px;
}
.boy-box{
    display: flex;
    color: #F0F0F0;
    margin-top:20px;
}
.boy-box p{
    text-align: center;
    margin-bottom: 2px;
}
.lessons{
    display:flex;
}
.lesson-box{
    border: 4px solid #F5F5F5;
}
.lesson-text{ 
    background:#1B1B1B;
    color: #F5F5F5;
}
.lesson-title{
    background: #F0F0F0;
    padding: 15px 10px;
    font-size:22px;
    text-align: center;
}
.price-first{
    padding:20px 20px;
}
.price-second{
    padding-left: 10px;
}
.price-first p{
    padding-left: 20px;
}
.price-second p{
    padding-left: 20px;
}
.lesson-button{
    padding: 10px 10px;
    background:#1B1B1B; ;
}
.lesson-button button{
   background:#DCAD55;
   border: 3px solid #FFFFFF;
   width:150px;
}
.lesson-box{
    margin-left: 20px;
    height: fit-content;
    width:264px;
}
.small-title{
    width: 75%;
    margin: auto;
    text-align: center;
}
.teacher{
    background: #010000;
    transform:skewY(1deg);
    padding-top: 50px;
}
.teacher h2{
    text-align: center;
    font-family: 'ArticaPro-Bold';
    line-height: 59px;
    text-transform: uppercase;
    color: #DCAD55;
    margin-bottom: 40px;
}
.teacher-title{
    transform: skewY(-1deg);
    position: relative;
}
.teacher-title .left{
    left: 0;
    
}
.teacher-title .right{
    right:  0;
}
.adapt .courses-zag button{
        text-align: center;
        background: #DCAD55;
        border: 4px solid #DCAD55;
        box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.25);
        margin: 10px;
}
.teacher-container{
    transform: skewY(-1deg);
    position: relative;
    padding-bottom: 50px;
}
.teacher-info{
    background: #FFFFFF;    
    padding: 10px;
    width: fit-content;
    position: relative;
}
.teacher-info::before{
    content: '';
    width:277px;
    height:10px;
    background: #E3D0AB;
    border: 0;
    position: absolute;
    top:-10px;
    left:16px;
}
.teacher-info::after{
    content: '';
    width:233px;
    height:10px;
    background: rgba(255, 255, 255, 0.22);
    border: 0;
    position: absolute;
    top:-20px;
    left:38px;
}
.teacher-foto{
    width: fit-content;
}
.teacher-list{
    padding-left: 30px;
    padding-top: 20px;
}
.teacher-list p{
    font-family: "OpenSans";
}
.teacher-list h6{
    font-family: "OpenSans-Bold";
    font-size: 25px;
    font-weight: bold;
}
.teacher-list span{
    font-family: "OpenSans-Bold";
    font-size: 16px;
    font-weight: bold;
}
.option p{
    width: 400px;
    padding-left: 20px;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.teacher-brick{
    position: absolute;
    width: 277px;
    height:15px;
    background: #E3D0AB;
    top: -15px;
    left: 339px;
}
.teacher-brick-small{
    position: absolute;
    width: 233px;
    height:15px;
    background: rgba(255, 255, 255, 0.22);
    top:-31px;
    left:361px;
}
.adapt .teacher-brick{
    position: absolute;
    width: 277px;
    height:15px;
    background: #E3D0AB;
    top: -14px;
    left: 250px;
}
.adapt .teacher-brick-small{
    position: absolute;
    width: 233px;
    height: 15px;
    background: rgba(255, 255, 255, 0.22);
    top: -29px;
    left: 270px;
}
.adapt .teacher-info{
 margin-bottom: 20px;
}
.adapt .option p{
    width: 400px;
    padding-left: 20px;
    color: #FFFFFF;
    font-size: 16px;
    text-align: left !important;
}
.action{
    background: linear-gradient(111.29deg, #DCAD55 19.8%, #8C6E36 80.97%);
    transform: skewY(3.6deg);
    padding-top: 100px;
    padding-bottom: 100px;
}
.action-title{
    transform:skewY(-3.6deg);
}
.action h2{
    text-align: center;
    font-family: 'ArticaPro-Bold';
    line-height: 59px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 100px;
}
.action-title .left{
    left: 0;
    
}
.action-title .right{
    right:  0;
}

.action-container{
    transform:skewY(-3.6deg);
    position: relative;
}
.action-block::before{
    content: '';
    width:943px;
    height:10px;
    background: #E3D0AB;
    border: 0;
    position: absolute;
    top:-13px;
    left:54px; 
}
.action-block::after{
    content: '';
    width:810px;
    height:10px;
    background: #FFFFFF;
    border: 0;
    position: absolute;
    top:-23px;
    left:100px; 
}
.action-block{
    background:#191919;
    color:#FFFFFF;
    position: relative;
    Width:1038px;
    height: 402px;
    border: 3px solid #FFFFFF;
}
.default .action-block-text{
   padding: 100px 100px 100px 0;
   width:600px;
   float: right;
}
.action-block-text h3{
    text-align: end;
    font-family: "ArticaPro-Black"; 
}
.default .action-block-text p{
    text-align: end;
    font-family: "OpenSans-Medium";
    font-size: 18px;
    line-height: 25px;
}
.default .action-block-img img{
    bottom: 0px;
    position: absolute;
    z-index: 1;
    left: 0px;
}
.action-block-text h3{
    text-align: end;
    font-family: "ArticaPro-Black"; 
    padding-bottom: 30px;
} 
.adapt .action-block{
    background:#191919;
    color:#FFFFFF;
    border: 3px solid #FFFFFF;
}
.adapt .action-block{
    width:300px;
    margin-left: 63px;
    height: fit-content;
}
.adapt .action-cont{
    transform:skewY(-3.6deg);
    
    padding: 40px 0px;
}
.adapt .action{
    padding: 0;
}
.adapt .action-block-img img{
    bottom: -33px;
    position: absolute;
    z-index: 1;
    right: 0px;
    width: 400px;
}
.adapt .title-text{
    padding: 30px 40px;
}
.adapt .action-text p{
    padding: 20px 40px;
}
.adapt .action-block::before{
    content: '';
    width: 272px;
    height: 10px;
    background: #E3D0AB;
    border: 0;
    position: absolute;
    top: -13px;
    left: 18px;
}
.adapt .action-block::after{
    content: '';
    width: 233px;
    height: 10px;
    background: #FFFFFF;
    border: 0;
    position: absolute;
    top: -23px;
    left: 37px;
}
.predmets{
    background: #010000;
    padding-top: 80px;
}
.predmet-title{
    position: relative;
    color: #DCAD55;
    text-align: center;
    padding-bottom: 30px;
    font-family:"ArticaPro-Bold";
    text-transform: uppercase;
}
.predmet-title h3::before{
    content:url(./images/abc.png);
    position: absolute;
    top:-91px;
    left:492px;
}
.predmets .predmet-box:nth-child(2) h3::before{
    content:url(./images/math.png) !important;
    position: absolute;
    top:-91px;
    left:492px;
}
.predmets .predmet-box:nth-child(3) h3::before{
    content:url(./images/eagle.png) !important;
    position: absolute;
    top:-91px;
    left:492px;
}
.predmet-title h3::after{
    content: "";
    width: 600px;
    height: 2px;
    background: #FFFFFF;
    position: absolute;
    top: 17px;
    right: 0;
}
.predmets-container{
    padding-top: 40px;
}
.predmet-box{
    padding-bottom: 170px;
}
.predmets-price{
    background: #DCAD55;
    padding: 2px 2px 2px 3px;
    margin-right: 40px;
}
.match{
    background: #010000;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    position: relative;
    height: 65px;
    padding: 29px 27px;
}  
.predmet-thing{
    padding-top: 17px;
}
.price{
    font-size:20px;
    width: 60px;
    height: 48px;
    text-align:center;
    line-height: 1.2;
}
.match .icons{
    background: #DCAD55;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.icons img{
    padding-left: 3px;
}
.recomendeds{
    padding: 30px;
}
.recomend-box{
    background: #DCAD55;
    padding: 1px 1px;
    width:300px;
    margin-right: 20px;
}
.recomend-text{
    background:#010000;
    color: #FFFFFF;
    padding: 30px;
}
.bx-wrapper{
    background: #010000;
    border: none;
    box-shadow: none;
}
.bx-wrapper .bx-controls-direction a {
    top: 110%;
}

.bx-wrapper .bx-prev {
    left: 46%;
}

.bx-wrapper .bx-next {
    right: 46%;
}
.recomend-button{
    display: flex;
    justify-content: center;
   
}
.recomend-button button{
     background:  #DCAD55;
    color:#010000;
    width:360px;
    box-shadow: 0px 6px 22px rgba(255, 255, 255, 0.36);
}
.links-title h3{
    text-align: center;
    font-family: 'ArticaPro-Medium';
    line-height: 59px;
    text-transform: uppercase;
    color: #DCAD55;
}
.links-title p{
    text-align: center;
    color: #FFFFFF;
    width: 600px;
}
.links-box{
    padding: 40px 100px 41px 0px;
}
.links-input{
    width: 300px;
}
.or {
    color: #E1E1E1;
    font-size:32px;;
    width: 219px;
}
.center{
    display: flex;
    justify-content: center;
}
.down{
    position: relative;
}
.viber{
    position: relative;
}
.viber button{
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 345px;
    height: 45px;
    background: #784F99;
    box-shadow: 0px 0px 15px rgb(120 79 153);
    color: #ffffff;
}
.links-input button{
    width: 345px;
    height: 45px;
    color: #000000;
    background: #DCAD55;
    box-shadow: 0px 0px 15px rgb(220 173 85);
    font-size: 16px;
}
.links-input input:nth-child(1)::placeholder{
    background : url('./images/Vector.png') no-repeat  20px;
    padding-left: 60px;
}
.links-input input:nth-child(2)::placeholder{
    background : url('./images/convert.png') no-repeat  20px;
    padding-left: 60px;
}
.links-input input:nth-child(3)::placeholder{
    background : url('./images/oliv.png') no-repeat  20px;
    padding-left: 60px;
}
.links-input input{
    width: 345px;
    height: 55px;
    padding: 0 20px;
    outline: none;
    margin-bottom: 20px;
    border: 0;
}
.footer{
    background: #1B1B1B;
}
.footer-title h3{
    text-align: center;
    font-family: 'ArticaPro-Medium';
    line-height: 59px;
    text-transform: uppercase;
    color: #DCAD55;
}
.footer-links button{
    margin-bottom: 10px;
    width: 268px;
    background: #DCAD55;
    box-shadow: 0px 6px 22px rgba(255, 255, 255, 0.36);
}
.footer-button{
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer-container{
    display: flex;
    justify-content: center;
}
.footer-text{
    color: #FFFFFF;
}
.number{
    background: #FFFFFF;
    width: 44px;
    height:44px;
    border-radius: 50%;
    position: relative;
}
.number img{
    position: absolute;
    bottom:11px;
    left: 10px;
}
.number img:nth-child(2){
    left:8px;
}
.footer-numbers{
    padding-bottom: 30px;
}
.footer-numbers-container{
    margin-left: 50px;
}
.number-text{
    color: #FFFFFF;
    padding-left: 10px;
}
.adapt .footer-container-button{
   padding-bottom: 40px; 
}
.adapt .footer-container-button button{  
    color: #101010;
    width: 345px;
    background: #DCAD55;
    border: 3px solid #FFFFFF;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.1);
    height: 55px;
}
.adapt .footer-numbers-container{
    margin-left: 0px;
}
.adapt .footer-links{
    padding: 30px;
}
.adapt .footer-title{
    padding-top: 30px;
}   
.adapt .number{
    background: #DCAD55;
}
.adapt .links{
    padding: 30px;
}